<%- include("particle/header")-%>
<div class="container">
  <div class="row">
    <div class="col">
      <form action="" method="GET" class="text-center">
        <h2 class="mt-5 text-center">Show By Date</h2>
        <input type="date" name="start" class="w-10 mt-2 border border-dark rounded-3 p-2" placeholder="Enter the Starting Date">
        <input type="date" name="end" class="w-10 mt-2 border border-dark rounded-3 p-2" placeholder="Enter the Ending Date">
        <select class="w-10 mt-2 border border-dark rounded-3 p-2" name="incomecategory">
          <option selected>Select Income menu</option>
          <%if(incomes){%>
            <%incomes.forEach(ele => {%>
              <option value="<%= ele%>">"<%= ele%>"</option>
            <%})%>
          <%}%>
        </select>
        <select name="expensecategory" class="w-10 mt-2 border border-dark rounded-3 p-2">
          <option selected>Select Expense menu</option>
          <%if(expenses){%>
            <%expenses.forEach(ele => {%>
              <option value="<%= ele%>">"<%= ele%>"</option>
            <%})%>
          <%}%>
        </select>
        <input type="month" name="month" class="w-10 mt-2 border border-dark rounded-3 p-2" placeholder="Enter the Starting Date">
        <button type="submit" class="btn btn-primary fw-bolder ">Show Data</button>
      </form>
    </div>
    <div>
      <h2 class="mt-5 text-center">Show Data</h2>
      <div class="col">
        <div class="row">
          <table class="w-100">
            <h5 class="text-center">Income</h5>
            <tr>
              <%if(income || totalIncome){%>
              <tr>
                <th class="border border-dark text-center">Amount
                  <% income.forEach(ele => { %>
                    <td class="border border-dark text-center"><%= ele.amount%></td>
                  <%})%>
                </th>
              </tr>
            <tr>
              <th class="border border-dark text-center">Category
                <% income.forEach(ele => { %>
                  <td class="border border-dark text-center"><%= ele.incomeSource%> </td>
                <%})%>
              </th>
            </tr>
            <tr>
              <th class="border border-dark text-center">Total of Income
                <% var total = 0%>
                <% income.forEach(ele => { %>
                  <%total += Number(ele.amount)%></td>
                <%})%>
                <td class="border border-dark text-center"><%= total%> </td>
              </th>
            </tr>
            <tr>
              <th class="border border-dark text-center">Month
                <td class="border border-dark text-center"><%= month%> </td>
              </th>
            </tr>
          <%}%>
          </tr>
        </table>
      </div>
    <div class="row mt-5">
      <table class="w-100">
        <h5 class="text-center">Expense</h5>
        <tr>
        <%if(expense){%>
          <tr>
            <th class="border border-dark text-center">Amount
              <% expense.forEach(ele => { %>
                <td class="border border-dark text-center"><%= ele.amount%></td>
              <%})%>
            </th>
          </tr>
          <tr>
            <th class="border border-dark text-center">Category
              <% expense.forEach(ele => { %>
                <td class="border border-dark text-center"><%= ele.expenseSource%> </td>
              <%})%>
            </th>
          </tr>
          <tr>
            <th class="border border-dark text-center">Total of Expense
              <% var totalexpense = 0%>
              <% expense.forEach(ele => { %>
                <%totalexpense += Number(ele.amount)%></td>
              <%})%>
              <td class="border border-dark text-center"><%= totalexpense%> </td>
            </th>
          </tr>
          <tr>
            <th class="border border-dark text-center">Month
              <td class="border border-dark text-center"><%= month%> </td>
            </th>
          </tr>
        <%}%>
        </tr>
      </table>
    </div>
    <div class="row mt-5">
      <table>
        <h6 class="text-center">Balance</h6>
        <tr>
          <th class="border border-dark text-center">TotalIncome</th>
          <th class="border border-dark text-center">TotalExpense</th>
          <th class="border border-dark text-center">Balance</th>
        </tr>
        <tr>
          <td class="border border-dark text-center"><%= total%></td>
          <td class="border border-dark text-center"><%= totalexpense%></td>
          <% var balance = total - totalexpense%>
          <%if(balance < 0){%>
            <td class="border border-dark text-center"><%= 0%></td>
          <%} else {%>
            <td class="border border-dark text-center"><%= balance%></td>
          <%}%>
        </tr>
      </table>
    </div>
    </div>
  </div>
</div>
</div>
<%- include("particle/footer")-%>
